<div class="main-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <div class="sidenav-content"> <!-- Asegura que ocupe toda la altura -->
        <mat-nav-list class="nav-list"> <!-- Lista de navegación crece -->
          <a mat-list-item (click)="CambioPestana('principal')" class="nav-item">Inicio</a>
          <a mat-list-item (click)="CambioPestana('admin')" class="nav-item">Super Administración</a>
          <a mat-list-item (click)="CambioPestana('empresa')" class="nav-item">Administrar</a>
          <a mat-list-item (click)="CambioPestana('pregunta')" class="nav-item">Crear Pregunta</a>
          <a mat-list-item (click)="CambioPestana('sucursal')" class="nav-item">Reportes</a>
        </mat-nav-list>
        <div class="logo-container">
          <img src="assets/2.png" alt="Logo" class="logo-image">
        </div>
        <div class="bottom-nav"> <!-- Cerrar sesión se mantiene en la parte inferior -->
          <a mat-list-item (click)="CambioPestana('login')" class="nav-item logout-item">Cerrar Sesión</a>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <header class="header">
        <button mat-icon-button (click)="sidenav.toggle()" class="custom-menu-button">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="page-title">Reporte de Sucursales</h1>
        <a href=""><img src="assets/cerrarS.png" alt="Cerrar" class="menu-icon" (click)="logout()"></a>

      </header>

      <div class="filter-container">
        <mat-form-field appearance="outline">
          <mat-label>Buscar por Sucursal o Empresa</mat-label>
          <input matInput [(ngModel)]="searchText" placeholder="Buscar..." />
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="filtrarPorSucursalOEmpresa()">Filtrar</button>
      </div>

      <div class="table-container">
        <h2>Reporte de Encuestas</h2>
        <table mat-table [dataSource]="filteredData" class="mat-elevation-z8">
          <!-- ID Empresa Column -->
          <ng-container matColumnDef="idEmpresa">
            <th mat-header-cell *matHeaderCellDef> ID Empresa </th>
            <td mat-cell *matCellDef="let element"> {{element.idEmpresa}} </td>
          </ng-container>

          <!-- Sucursal Column -->
          <ng-container matColumnDef="sucursal">
            <th mat-header-cell *matHeaderCellDef> Sucursal </th>
            <td mat-cell *matCellDef="let element"> {{element.sucursal}} </td>
          </ng-container>

          <!-- Punto Satisfacción Column -->
          <ng-container matColumnDef="puntoSatisfaccion">
            <th mat-header-cell *matHeaderCellDef> Punto Satisfacción </th>
            <td mat-cell *matCellDef="let element"> {{element.puntoSatisfaccion}} </td>
          </ng-container>

          <!-- Empresa Column -->
          <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let element"> {{element.empresa}} </td>
          </ng-container>

          <!-- Fecha Column -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <div class="export-container">
        <button mat-raised-button color="accent" (click)="exportarExcel()">
          <img src="assets/sobresalir.png" alt="Icono Excel" class="excel-icon"> Exportar a Excel
        </button>
      </div><br><br><br><br>
          <!-- Footer -->
          <footer class="footer">
            <p>&copy; 2024 J.E.J. Todos los derechos reservados.</p>
          </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
