<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px">
    <h2 class="text-center">BIENVENIDO</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <mat-form-field class="full-width">
          <mat-label>Correo</mat-label>
          <input
            matInput
            placeholder="Ingrese su correo"
            formControlName="email"
          />
          <mat-error
            *ngIf="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
          >
            Por favor ingrese un correo válido.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group mb-3">
        <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            type="password"
            placeholder="Ingrese su contraseña"
            formControlName="password"
          />
          <mat-error
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
          >
            Contraseña requerida.
          </mat-error>
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
        class="w-100"
      >
        Ingresar
      </button>
    </form>
  </div>
</div>
