<div class="menu">
  <button mat-button [matMenuTriggerFor]="menu">Menú</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
  </mat-menu>
</div>

<div class="container">
    
  
    <div class="survey-container">
      <h3>Encuesta de satisfacción</h3><hr>
      <h4>¿Cómo se siente con la atención recibida?</h4>
      <div class="emoji-container">
        <img src="assets/feliz2.png" alt="Feliz" (click)="selectEmoji('1')" class="emoji">
        <img src="assets/feliz.png" alt="Contento" (click)="selectEmoji('2')" class="emoji">
        <img src="assets/confuso.png" alt="Confuso" (click)="selectEmoji('3')" class="emoji">
        <img src="assets/triste.png" alt="Triste" (click)="selectEmoji('4')" class="emoji">
        <img src="assets/enojado.png" alt="Enojado" (click)="selectEmoji('5')" class="emoji">
      </div>
      <br><br><br><br><br>
      <h4>¿Cuál es tu nivel de satisfacción con nuestro servicio?</h4>
      <div class="options-container">
        <label>
          <input type="radio" name="satisfaccion" value="1" (click)="selectOption('satisfaccion', '1')">
          Muy insatisfecho
        </label>
        <label>
          <input type="radio" name="satisfaccion" value="2" (click)="selectOption('satisfaccion', '2')">
          Insatisfecho
        </label>
        <label>
          <input type="radio" name="satisfaccion" value="3" (click)="selectOption('satisfaccion', '3')">
          Neutral
        </label>
        <label>
          <input type="radio" name="satisfaccion" value="4" (click)="selectOption('satisfaccion', '4')">
          Satisfecho
        </label>
        <label>
          <input type="radio" name="satisfaccion" value="5" (click)="selectOption('satisfaccion', '5')">
          Muy satisfecho
        </label>
      </div>
  
      <h4>¿Recomendarías nuestro servicio a otras personas?</h4>
      <div class="options-container">
        <label>
          <input type="radio" name="recomendacion" value="si" (click)="selectOption('recomendacion', 'si')">
          Sí
        </label>
        <label>
          <input type="radio" name="recomendacion" value="no" (click)="selectOption('recomendacion', 'no')">
          No
        </label>
      </div>
  
      <h4>¿Con qué frecuencia utilizas nuestro servicio?</h4>
      <div class="options-container">
        <label>
          <input type="radio" name="frecuencia" value="diario" (click)="selectOption('frecuencia', 'diario')">
          Diario
        </label>
        <label>
          <input type="radio" name="frecuencia" value="semanal" (click)="selectOption('frecuencia', 'semanal')">
          Semanal
        </label>
        <label>
          <input type="radio" name="frecuencia" value="mensual" (click)="selectOption('frecuencia', 'mensual')">
          Mensual
        </label>
        <label>
          <input type="radio" name="frecuencia" value="ocasional" (click)="selectOption('frecuencia', 'ocasional')">
          Ocasional
        </label>
      </div>
  
      <h6>Comentarios adicionales (opcional)</h6>
      <div class="message-container">
        <textarea placeholder="Escribe tus comentarios aquí..." (input)="updateMessage($event)"></textarea>
      </div>
  
      <button (click)="submitSurvey()" class="submit-button">Enviar Encuesta</button>
    </div>
  </div>
  