<div class="main-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item (click)="CambioPestana('principal')">Inicio</a>
        <a mat-list-item (click)="CambioPestana('admin')">Administrar</a>
        <a mat-list-item (click)="CambioPestana('empresa')">Reporte Empresa</a>
        <a mat-list-item (click)="CambioPestana('sucursal')">Reporte Sucursal</a>
        <a mat-list-item (click)="logout()">Cerrar Sesión</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <header class="header">
        <button mat-icon-button (click)="sidenav.toggle()" class="custom-menu-button">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="page-title">Bienvenido al Panel Principal</h1>
      </header>

      <div class="dashboard-cards">
        <mat-card class="dashboard-card">
          <mat-card-title>Cantidad sucursales</mat-card-title>
          <mat-card-content>37</mat-card-content>
        </mat-card>
        <mat-card class="dashboard-card">
          <mat-card-title>Sucursales fuera de línea</mat-card-title>
          <mat-card-content>0</mat-card-content>
        </mat-card>
        <mat-card class="dashboard-card">
          <mat-card-title>Cantidad empresas</mat-card-title>
          <mat-card-content>17</mat-card-content>
        </mat-card>
        <mat-card class="dashboard-card">
          <mat-card-title>Encuestas totales contestadas</mat-card-title>
          <mat-card-content>3</mat-card-content>
        </mat-card>
        <mat-card class="dashboard-card">
          <mat-card-title>Encuestas contestadas hoy</mat-card-title>
          <mat-card-content>576</mat-card-content>
        </mat-card>
        <mat-card class="dashboard-card">
          <mat-card-title>Promedio de evualuacion</mat-card-title>
          <mat-card-content>7</mat-card-content>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
