<div class="main-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <div class="sidenav-content">
        <mat-nav-list class="nav-list">
          <a mat-list-item (click)="CambioPestana('principal')" class="nav-item">Inicio</a>
          <a mat-list-item (click)="CambioPestana('empresa')" class="nav-item">Super Administración</a>
          <a mat-list-item (click)="CambioPestana('sucursal')" class="nav-item">Administrar Sucursales</a>
          <a mat-list-item (click)="CambioPestana('pregunta')" class="nav-item">Crear Pregunta</a>
          <a mat-list-item (click)="CambioPestana('reporte-encuesta')" class="nav-item">Reportes</a>
        </mat-nav-list>
        <div class="logo-container">
          <img src="assets/2.png" alt="Logo" class="logo-image">
        </div>
        <div class="bottom-nav">
          <a mat-list-item (click)="logout()" class="nav-item logout-item">Cerrar Sesión</a>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <header class="header">
        <button mat-icon-button (click)="toggleSidenav()" class="custom-menu-button">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="page-title">Bienvenido al Panel Principal</h1>
        <a href=""><img src="assets/cerrarS.png" alt="Cerrar" class="menu-icon" (click)="logout()"></a>
      </header>

      <div class="dashboard-cards">
        <!-- Aquí están las tarjetas que tenías antes -->
        <mat-card class="dashboard-card">
          <mat-card-title>Cantidad sucursales</mat-card-title>
          <mat-card-content>{{ cantidadSucursales }}</mat-card-content>
        </mat-card>
        
        <mat-card class="dashboard-card">
          <mat-card-title>Cantidad preguntas</mat-card-title>
          <mat-card-content>{{ cantidadPreguntas }}</mat-card-content>
        </mat-card>
        <mat-card class="dashboard-card">
          <mat-card-title>Cantidad empresas</mat-card-title>
          <mat-card-content>17</mat-card-content>
        </mat-card>
        <mat-card class="dashboard-card">
          <mat-card-title>Encuestas totales contestadas</mat-card-title>
          <mat-card-content>3</mat-card-content>
        </mat-card>
        <mat-card class="dashboard-card">
          <mat-card-title>Encuestas contestadas hoy</mat-card-title>
          <mat-card-content>576</mat-card-content>
        </mat-card>
        <mat-card class="dashboard-card">
          <mat-card-title>Promedio de evaluación</mat-card-title>
          <mat-card-content>7</mat-card-content>
        </mat-card>

        <!-- Aquí van las nuevas tarjetas que muestran los datos del usuario -->
        <mat-card class="dashboard-card">
          <mat-card-title>Usuario Actual</mat-card-title>
          <mat-card-content>{{ usuarioLogueado?.nombre || 'Cargando...' }}</mat-card-content>
        </mat-card>

        <mat-card class="dashboard-card">
          <mat-card-title>Tipo de Usuario</mat-card-title>
          <mat-card-content>{{ usuarioLogueado?.tipoUsuario || 'Cargando...' }}</mat-card-content>
        </mat-card>

        <mat-card class="dashboard-card">
          <mat-card-title>Email</mat-card-title>
          <mat-card-content>{{ usuarioLogueado?.email || 'Cargando...' }}</mat-card-content>
        </mat-card>

        <mat-card class="dashboard-card">
          <mat-card-title>Empresa</mat-card-title>
          <mat-card-content>{{ usuarioLogueado?.codigoEmpresa || 'Cargando...' }}</mat-card-content>
        </mat-card>

        
        <mat-card class="dashboard-card">
          <mat-card-title>idempresa</mat-card-title>
          <mat-card-content>{{ usuarioLogueado?.idEmpresa || 'Cargando...' }}</mat-card-content>
        </mat-card>
      </div>

      <footer class="footer">
        <p>&copy; 2024 J.E.J. Todos los derechos reservados.</p>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
