<div class="container">
    <h1>Bienvenido al Panel Principal</h1>
    <p>Esta es la vista principal para los usuarios administrativos.</p>
  </div>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item href="#">Inicio</a>
        <a mat-list-item href="#">Administrar</a>
        <a mat-list-item href="#">Reporte Empresa</a>
        <a mat-list-item href="#">Reporte Sucursal</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Contenido principal aquí -->
      <button (click)="sidenav.toggle()">Toggle Sidenav</button>
    </mat-sidenav-content>
  </mat-sidenav-container>
  