<div class="main-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <div class="sidenav-content">
        <mat-nav-list class="nav-list"> 
          <a mat-list-item (click)="CambioPestana('principal')" class="nav-item">Inicio</a>
          <a *ngIf="usuarioLogueado?.tipoUsuario === 'SuperAdmin'" mat-list-item (click)="CambioPestana('empresa')" class="nav-item">
            Super Administración
          </a>
            <a mat-list-item (click)="CambioPestana('sucursal')" class="nav-item">Administrar Sucursales</a>
            <a mat-list-item (click)="CambioPestana('pregunta')" class="nav-item">Crear Pregunta</a>
            <a mat-list-item (click)="CambioPestana('reporte-encuesta')" class="nav-item">Reportes</a>
          </mat-nav-list>
        <div class="logo-container">
          <img src="assets/2.png" alt="Logo" class="logo-image">
        </div>
        <div class="bottom-nav"> 
          <a mat-list-item (click)="logout()" class="nav-item logout-item">Cerrar Sesión</a>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Header con título y usuario -->
      <header class="header">
        <button mat-icon-button (click)="toggleSidenav()" class="custom-menu-button">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="page-title">Bienvenido al Panel Principal</h1>
        <div class="user-info-container">
          <div class="user-info">
            <span>{{ usuarioLogueado?.nombre || 'Usuario' }}</span>
            <a ><img src="assets/user2.png" alt="user" class="menu-icon"></a>
          </div>
          <a href=""><img src="assets/cerrarS.png" alt="Cerrar" class="menu-icon" (click)="logout()"></a>
        </div>
      </header>

      <!-- Tarjetas con datos -->
  <div class="dashboard-cards">
    <mat-card class="dashboard-card green-card">
      <mat-card-title>Total de Sucursales</mat-card-title>
      <mat-card-content>{{ totalSucursales }}</mat-card-content>
    </mat-card>
    
    <mat-card class="dashboard-card yellow-card">
      <mat-card-title>Total de Encuestas</mat-card-title>
      <mat-card-content>{{ totalEncuestas }}</mat-card-content>
    </mat-card>
    
    <mat-card class="dashboard-card blue-card">
      <mat-card-title>Promedio de Calificaciones</mat-card-title>
      <mat-card-content>{{ promedioCalificaciones | number:'1.1-2' }}</mat-card-content>
    </mat-card>
  </div>


      <br><br>
      <div *ngIf="usuarioLogueado?.idEmpresa === 3">
        <h2>Encuestas contestadas por Empresa </h2>
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [yaxis]="chartOptions.yaxis"
        ></apx-chart>
      </div>
      
      <br><br>

      <!-- Contenedor de tabs para las children -->
      <div class="tabs-container">
        <ul class="nav nav-tabs">
            <a class="nav-link" routerLink="informacion-diaria" routerLinkActive="active">Información Semanal</a>
            <a class="nav-link" routerLink="informacion-periodo" routerLinkActive="active">Información Mensual</a>
        </ul>
        <!-- Aquí se cargan los children -->
        <router-outlet></router-outlet>
      </div>
      <footer class="footer">
        <p>&copy; 2024 J.E.J. Todos los derechos reservados.</p>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
