.sidenav-container {
  height: 100vh;
  display: flex;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: #2e4053;
  width: calc(100vw - 240px); 
  margin-left: auto;
}

.page-title {
  margin-left: 15px;
  font-size: 36px; 
}

.mat-nav-list a {
  font-size: 22px; 
  padding: 10px 20px;
}

.dashboard-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.dashboard-card {
  width: calc(33% - 20px);
  margin-bottom: 20px;
}

mat-card {
  padding: 20px;
  border-radius: 10px;
  background-color: #2e4053;
  color: white;
}

mat-card-title {
  font-size: 20px;
  font-weight: normal; 
}

mat-card-content {
  font-size: 24px;
  font-weight: normal; 
}


/* #48744c  Verde del logo---- #2e4053  azul del logo */